.skill {
    padding: 15px;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f2f2f2; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #20202a;
    border-radius: 10px;
}

.skill > p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.skill__list {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

@media (max-width: 480px) {
    .skill {
        max-height: 400px;
    }
}

@media (max-width: 426px) {
    .skill {
        padding: 15px 0;
    }
}