.sidebar {
    flex: 1 1 20%;
    min-height: 100vh;
    height: 100%;
    max-width: 20vw;
    background-color: #20202a;
    text-align: center;
    border-right: 5px solid #293544;
    transition: all ease 0.3s;
}

@media (max-width: 1350px) {
    .sidebar {
        position: absolute;
        top: 0;
        left: -100%;
        max-width: 360px;
        width: 360px;
        z-index: 999;
    }
}

@media (max-width: 480px) {
    .sidebar {
        min-height: 800px;
    }
}

@media (max-width: 380px) {
    .sidebar {
        max-width: 290px;
        width: 290px;
    }
}

@media (max-width: 322px) {
    .sidebar {
        max-width: 250px;
        width: 250px;
    }
}