.card {
    background-color: #f2f2f2;
    border-radius: 5px;
    border: 0;
    padding: 15px;
    min-width: 300px;
    height: 180px;
    box-shadow: 0 1px 4px 0 rgb(15, 15, 20, 0.1);
    margin: 0 10px;
}

.card a {
    text-decoration: none;
}

.card p {
    font-size: 18px;
    color: #222;
    text-align: center;
    margin-bottom: 15px;
    height: 120px;
}

.card p span {
    font-style: italic;
}

.card p:last-child {
    color: #000;
    font-weight: bold;
    font-size: 16px;
    text-align: right;
    margin-bottom: 0;
    height: auto;
}